

div.playerBoard {
    padding: 1rem;
    position: relative;
    
    width: 75%;
    
}


div.playerBoard > div > label { 
    font-size: 0.9rem;
    font-weight: bold;
    border-bottom: solid 1px #00000088;
    width: 100%;
}