:root {
	--multiplier: 2;
	--deck-width: 68px;
	--deck-height: 88px;
}

div.playerHandContainer {
    position: fixed;
    bottom: 0;
    left: 10rem;
    width: calc(var(--deck-width) * var(--multiplier) * 9);
    height: calc(var(--deck-height) * var(--multiplier) / 2);
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: top;
    flex: 0 0 auto;

    overflow: none;

    border: solid 2px #000000;
    background-color: #DDDDDD55;
    padding-top: 1rem;
    border-top-left-radius: 3rem 8rem;
    border-top-right-radius: 3rem 8rem;
}

div.playerHandContainer > div.card {
    flex: 0 0 auto;
    display: flex;
    width: calc(var(--deck-width) * var(--multiplier));
    height: calc(var(--deck-height) * var(--multiplier));

    border: solid 1px black;

    border-radius: calc(2px * var(--multiplier));

    margin: 0.25rem;

    user-select: none;
}

div.playerHandContainer:hover {
    height: calc(var(--deck-height) * 1.1 * var(--multiplier));
}


div.playerHandContainer.rows-2:hover {
    height: calc(var(--deck-height) * 2.2 * var(--multiplier));
}

div.playerHandContainer.rows-3:hover {
    height: calc(var(--deck-height) * 3.3 * var(--multiplier));
}
