:root {
	--multiplier: 3;
	--project-card-width: 68px;
	--project-card-height: 88px;
}

div.projectCardContainer {
    
    display: flex;
    flex-direction: column;
    width: calc(var(--project-card-width) * var(--multiplier));
    height: calc(var(--project-card-height) * var(--multiplier));

    border: solid 1px black;

    background: linear-gradient(180deg, #333333 0%, #888888 5%, #FFFFFF 10%, #CCCCFF 20%, #DDDDFF 85%, #CCCCCC 85%, #333333 100%);

    border-radius: calc(3px * var(--multiplier));
}

div.projectCardContainer.military {
    background: linear-gradient(180deg, #333333 0%, #888888 5%, #FFFFFF 10%, #FFCCCC 20%, #FFDDDD 85%, #CCCCCC 85%, #333333 100%);
}

div.projectCardContainer.finance {
    background: linear-gradient(180deg, #333333 0%, #888888 5%, #FFFFFF 10%, #FFFFCC 20%, #FFFFDD 85%, #CCCCCC 85%, #333333 100%);
}

div.projectCardContainer.entertainment {
    background: linear-gradient(180deg, #333333 0%, #888888 5%, #FFFFFF 10%, #FFCCFF 20%, #FFDDFF 85%, #CCCCCC 85%, #333333 100%);
}

div.projectCardContainer.industry {
    background: linear-gradient(180deg, #333333 0%, #888888 5%, #FFFFFF 10%, #FFCCCC 20%, #FFDDDD 85%, #CCCCCC 85%, #333333 100%);
}

div.projectCardContainer.publicsector {
    background: linear-gradient(180deg, #333333 0%, #888888 5%, #FFFFFF 10%, #CCFFCC 20%, #DDFFDD 85%, #CCCCCC 85%, #333333 100%);
}

div.projectCardContainer > h1 {
    font-size: calc(0.4rem * var(--multiplier));
    margin: 0;
    width: 100%;
    text-align: center;
    border-bottom: solid 2px #00000088;
    padding: 0.1rem 0;
}

div.projectCardContainer > h2 {
    flex: 0 0 auto;
    font-size: calc(0.3rem * var(--multiplier));
    margin: 0;
    width: 100%;
    text-align: center;
    border-bottom: solid 1px #00000088;
    padding: 0.1rem 0;
    background-color: #00000011;
}



div.projectCardContainer > footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border-top: solid 2px #00000088;
    background: #00000033;
}


div.projectCardContainer > div.keywords {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.projectCardContainer > div.keywords > span {
    flex: 0 0 auto;
    padding: 0.1rem 0.2rem;
    font-size: 0.65rem;
    border: solid 1px #00000088;
    border-radius: 0.25rem;
    margin: 1px;
    background: white;
}


div.projectCardContainer > div.rules {
    flex: 1 1 auto;
    font-size: 0.75rem;
}

div.projectCardContainer > footer > div {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 0.1rem 0.25rem;
}

div.projectCardContainer > footer > div > label {
    font-size: 0.5rem;
    font-weight: normal;

}
